 body{
    margin: 0;
    background-image: url('./styles/fonts/images/bg.png');
    background-size: contain;
    color: white;
    font-family: 'Handlee', cursive; 
}
.screen-size{
  width:100%;
  min-height: 100%;
}
header,
.login-view,
.week-view,
.recipe-view,
.form-view,
.about-us,
footer {
    background: rgba(182, 53, 36, 0.8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1%;
    margin: 2%;
}
#logo {
    float: left;
    width: 15%;
}
footer {
    -webkit-appearance: none;
    width: 93.5%;
    height: 80px;
    display: inline-block;
    text-align: center;
    background: rgba(182, 53, 36, 0.8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-left:1%;
} 
.flex {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#topTen {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
}
.about-us {
    text-align: center;
}
h3 {
    color: black;
}

