html, 
body{
    background-image: url('/styles/fonts/images/bg.png');
    background-size: contain;
    color: white;
    font-family: 'Handlee', cursive;  
}
header,
.login-view,
.week-view,
.recipe-view,
footer,
.form-view,
.about-us{
    background: rgba(182, 53, 36, 0.8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1%;
    margin: 2%;
}
/* h1 {
    display: inline-block;
} */
header{
    display: inline-block
}
#logo {
    float: left;
    width: 15%;
}
footer {
    -webkit-appearance: none;
    width: 93.5%;
    height: 100px;
    display: inline-block;
    text-align: center;
    flex-basis: auto;
} 
.flex {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#topTen {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
}
.about-us {
    text-align: center;
}
h3 {
    color: black;
}

