body{
    background: #9ECC72;
    color: #9ECC72;
    font-family: 'Handlee', cursive;
}
header,
.login-view,
.week-view,
.recipe-view,
footer,
.form-view{
    background: rgb(244, 247, 190);
    border: solid 2px rgb(148, 28, 19);
    padding: 1%;
    margin: 2%;
}
h1 {
    display: inline-block;

}
#logo {
    float: left;
}
footer {
    position: sticky;
    height: 3%;
}
#topTen {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
}